<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ChapooDatabase"
         connectionString="Data Source=den1.mssql8.gear.host;
         Initial Catalog=chapoo1920f04;
         User ID=chapoo1920f04;
         Password=Eo9G2f?Fz!b6" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>